<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LockScreen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0685D4D51BCFDE9F000CC22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0685D4E61BCFDEA0000CC22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0685D4F11BCFDEA0000CC22D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
